h1 {
	background: #2980b9;
	color: white;
	margin: 0;
	padding: 10px 20px;
	text-transform: uppercase;;
	font-size: 24px;
	font-weight: normal;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	background: #fff;
	height: 40px;
	line-height: 40px;
	color: #666;
}

input {
	font-size: 18px;
	padding: 13px 13px 13px 20px;
	background: #f7f7f7;
	color: #2980b9;
	width: 100%;
	box-sizing: border-box;
}

input:focus {
	background: #f7f7f7;
	border: 3px solid #2980b9
	outline: none;
}

span {
	background: #e74c3c;
	color: white;
	margin-right: 20px;
	display: inline-block;
	width: 0px;
	text-align: center;
	transition: 0.4s linear;
}

li:hover span {
	width: 40px;
}

li:nth-child(2n){
	background: #f7f7f7;
}

body {
	font-family: Roboto;
	background: #4B79A1;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #283E51, #4B79A1);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #283E51, #4B79A1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
}

#container {
	background: #f7f7f7;
	margin: 100px auto;
	width: 360px;
	box-shadow: 0 0 3px rgba(0,0,0,0.1);
}

.Completed {
	color: gray;
	text-decoration: line-through;
}
